# Created by .ignore support plugin (hsz.mobi)
*.iml
*.log

.idea
.gradle

logs
build
database*
unsaved-data

walletstore
src/main/resources/solcJ-all

sampleDB*

access.info

.java-version

# Local configuration
**/user.conf
/bin/

#Added by Víctor Gil because I am using Eclipse IDE
/target
/.settings
/.project
/.classpath
.gitignore
